@import "./style.scss";
@import "./svg.scss";

/* Color palette defined */
$scotch-color-key: "base" !default;

$scotch-colors: (
  "primary": (
    "base": black,
    "light": #4b4647,
    "dark": #2d2d2d,
  ),
  "secondary": (
    "base": #f8f9fa,
    "light": #ffffff,
    "dark": #b4b5b6,
  ),
  "accent": (
    "base": #a61c24,
    "light": #ce1b23,
    "dark": #700000,
  ),
  "fresh": (
    "base": #43a047,
    "light": #76d275,
    "dark": #00701a,
  ),
);

$scotch-opacity: (
  "light": 0.8,
  "mid": 0.5,
  "dark": 0.2,
);

@function scotch-color(
  $name: "primary",
  $variant: $scotch-color-key,
  $opacity: 1
) {
  $color: null;

  // Get the color spectrum
  $color-spectrum: map-get($scotch-colors, $name);

  // Get the color variant
  @if $color-spectrum {
    $color: map-get($color-spectrum, $variant);
  }

  // Get the alpha setting
  $alpha: if(
    type-of($opacity) == "number",
    $opacity,
    map-get($scotch-opacity, $opacity)
  );

  // Set the alpha of the color
  @if $alpha {
    $color: rgba($color, $alpha);
  }

  @return $color;
}

/* Theme colors */
$color-accent: scotch-color("accent");
$color-accent-light: scotch-color("accent", "light");
$color-accent-dark: scotch-color("accent", "dark");
$color-bg: scotch-color("primary");
$color-primary-dark: scotch-color("primary", "dark");
$color-fg: scotch-color("secondary");
$color-secondary-dark: scotch-color("secondary", "dark");
$color-secondary-light: scotch-color("secondary", "light");
$color-fresh: scotch-color("fresh");
$color-fresh-light: scotch-color("fresh", "light");
$color-fresh-dark: scotch-color("fresh", "dark");
$color-text-bg: scotch-color("primary", $opacity: "mid");

// body
body {
  background-color: scotch-color("secondary");
}

// categories
$bg: $color-fg; //scotch-color("secondary", "light");
$products-bg: $color-secondary-light;
$cat-title-text: $color-fresh-dark; //$color-fresh-light; //$color-primary-dark;
$product-name: $color-primary-dark;
$product-bg: $color-fg;

// nav
$color-nav-bg: $color-primary-dark;
$color-nav-switcher: $color-fg;

// footer
$footer-color-fg: $color-fg;
$footer-color-bg: $color-primary-dark;
$footer-color-fg-dark: scotch-color("secondary", "dark");
$footer-color-link: $color-fresh-dark;
$footer-color-link-beboss: $color-fresh-light;

/* Dimensions */
$top-left-align: 7vw;
$top-intro-align: 2rem;
$left-intro-align: 2rem;
$bodypadding: 10vw;
$bodyinside: 80vw;

// images
$foods-right-bottom-img: "lr-circle-right-bottom.svg";
