@import "../style/theme.scss";

.cart {
  width: 100%;
  padding: $pad;

  > button {
    margin: 0.2rem;
    padding: 0.2rem;
  }

  > div {
    background-color: rgb(176, 241, 233);
    margin-top: 0.5rem;
  }

  section:nth-child(odd) {
    > div input {
      margin: 0.3rem;
      padding: 0.1rem;
      color: blue;
    }

    > div button {
      padding: 0.1rem;
      margin: 0.3rem;
      width: 5rem;
    }

    > div button.confirmed:disabled {
      color: gray;
      padding: 0.1rem;
      margin: 0.3rem;
      width: 5rem;
    }
  }
  section:nth-child(even) {
    > div > p {
      margin-top: 0.7rem;
      color: blue;
    }

    > div > button {
      margin: 0.2rem;
    }
  }
}
