@import "../style/theme.scss";

.cart {
  width: 100%;
  padding: $pad;

  > button {
    margin: 0.2rem;
    padding: 0.2rem;
  }

  // items
  section {
    > div > p {
      margin-top: 0.7rem;
      color: blue;
    }

    > div > button {
      margin: 0.2rem;
    }
  }
}
